---
---

@import "{{ site.theme }}";
header .container-header {
  text-align: left;
  margin: 0 auto;
  padding: 0 60px;
}

header h1 a{
  color: #b5e853;
  text-decoration: none;
}

header h2{
  margin: 0;
}

footer {
  padding: 10px 0;
  margin-top: 50px;
  border-top: 1px dashed #b5e853;
}

footer .owner {
}

footer .creds small {
  float: right;
  font-size: 10px;
  text-align: right;
  margin-left: 15px;
}

footer .owner .avatar {
  display: inline-block;
  vertical-align: middle;
}

footer .owner img {
  border: 2px solid #2a2a2a;
  margin: 10px;
}

footer .owner p {
  text-align: center;
  font-family:Georgia, serif;
}

footer .owner p a {
  font-size: 16px;
  font-style: italic;
}

.post-meta{
  background: rgba(181,232,0,0.05);
  color: rgba(255,255,255,0.15);
}