---
---

@import "{{ site.theme }}";

footer {
  border-top: 1px dashed #b5e853;
}

footer .owner {
}

footer .creds small {
  float: right;
  font-size: 10px;
  text-align: right;
  margin-left: 15px;
}

footer .owner .avatar {
  display: inline-block;
  vertical-align: middle;
}

footer .owner img {
  border: 2px solid #2a2a2a;
  margin: 10px;
}

footer .owner p {
  text-align: center;
  font-family:Georgia, serif;
}

footer .owner p a {
  font-size: 16px;
  font-style: italic;
}