---
---

@import "{{ site.theme }}";

footer .owner {
  background: #222;
  border: 5px solid #444;
  padding: 5px 15px;
  margin: -67px -10px 35px;
  color: #d6d6d6;
}

footer .creds small {
  float: right;
  font-size: 10px;
  text-align: right;
  margin-left: 15px;
}

footer .owner .avatar {
  background-color: #666;
  display: block;
  margin: -19px 10px 0 0;
  width: 60px;
  float: left;
}

footer .owner img {
  display: block;
  border: 1px solid #2a2a2a;
  margin: 5px;
}

footer .owner p {
  font-family:Georgia, serif;
}

footer .owner p a {
  font-size: 16px;
  font-style: italic;
}